.table {
  display: flex;
  margin: 50px auto;
  justify-content: center;
}

.player-area {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
