.table {
  display: flex;
  justify-content: center;
  background: white;
  height: 100vh;
}

.player-area {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
